.TodoItem {
    border-bottom: 5px solid lightgrey;
    padding: 10px;
    margin-bottom: 50px;
    text-align: left;
    align-items: flex-start;
    
}

button {
    background-color: aqua;
    color: black;
   
}
